<!-- Jquery Core Js -->
<script src="../static/jquery.min.js"></script>

<!-- Bootstrap Core Js -->
<script src="../static/bootstrap.js"></script>

<!-- Select Plugin Js -->
<script src="../static/bootstrap-select.js"></script>

<!-- Slimscroll Plugin Js -->
<script src="../static/jquery.slimscroll.js"></script>

<!-- Waves Effect Plugin Js -->
<script src="../static/waves.js"></script>

 <!-- SweetAlert Plugin Js -->
<script src="../static/sweetalert.min.js"></script>

<!-- Custom Js -->
<script src="../static/admin.js"></script>

<script src="../static/dialogs.js"></script>

<!-- Demo Js -->
<script src="../static/demo.js"></script>