{% extends 'base.html' %}
{% block title %} Adjustment {% endblock %}

{% block customcss %}
    <link href="../static/all-themes.css" rel="stylesheet">
{% endblock %}

{% set bodyclass = 'theme-red' %}

{% block content %}
    
    {% include './includes/nav.html' %}

    <section class="content">
        <div class="container-fluid">
            <form method='POST'>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                         <!-- Striped Rows -->
                        <div class="header">
                            <h2> {{ adjustment_header.description }} </h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <button type="submit" class="btn btn-block btn-lg btn-default waves-effect" name="submit_type" value="{{ adjustment_header.id }}">Load Products</button>
                                        </li>
                                        <li>
                                            <button type="submit" class="btn btn-block btn-lg btn-default waves-effect" name="submit_type" value="save_adjustment">Save Adjustment</button>
                                                
                                        </li>
                                        <li>
                                            <button type="submit" class="btn btn-block btn-lg btn-default waves-effect" name="submit_type" value="apply_adjustment">Apply Adjustment</button>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body table-responsive">
                            {% if message %}
                                <div class="alert {{ css_class }}">
                                    {{ message }}
                                </div>
                            {% endif %}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>New Quantity</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for adjustment_detail in adjustment_header.adjustment_details[:] %}
                                        <tr>
                                            <th scope="row">{{ adjustment_detail.adjustment_detail.code }}</th>
                                            <td>{{ adjustment_detail.adjustment_detail.name }}</td>
                                            <td>{{ adjustment_detail.adjustment_detail.quantity }}</td>
                                            <td>
                                                <input type="number" name="{{ adjustment_detail.id }}" class="form-control" value="{{ adjustment_detail.quantity_adjust }}">
                                                <!-- <input type="hidden" name="adj_line_id{{ adjustment_detail.id }}" value="{{ adjustment_detail.id }}"> -->
                                            </td>
                                            <td>
                                                <button type="submit" class="btn btn-danger waves-effect" name="submit_type" value="DEL-{{ adjustment_detail.id }}">Remove</button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </form>
            <!-- #END# Striped Rows -->
        </div>
    </section>

    

{% endblock %}

{% block js %}
    {% include './includes/main-js.html' %}
{% endblock%}