{% extends 'base.html' %}

{% block title %} Sign In {% endblock %}

{% set bodyclass = 'login-page' %}

{% block content %}
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">Inventory<b>APP</b></a>
            <small>Add Product | Adjust Stocks | Make Purchases</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="sign_in" method="POST" action="/signin">
                    <div class="msg">Sign in to start your session</div>
                    {% if message %}
                        <div class="alert alert-danger">
                            <strong>Error!</strong> {{ message }}
                        </div>
                    {% endif %}
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="password" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 p-t-5">
                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-block bg-pink waves-effect" type="submit">SIGN IN</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% include './includes/sign-in-js.html' %}
{% endblock%}