{% extends 'base.html' %}
{% block title %} Products {% endblock %}

{% block customcss %}
    <link href="../static/all-themes.css" rel="stylesheet">
{% endblock %}

{% set bodyclass = 'theme-red' %}

{% block content %}
    
    {% include './includes/nav.html' %}

    <section class="content">

        <!-- Notification message Start -->
        {% if message %}
            <div class="row clearfix jsdemo-notification-button"> 
                <input type="hidden" id="custom-message-load" value="{{ message }}">
                <input type="hidden" id="custom-css-load" value="{{ css_class }}">
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        var customMessage = document.getElementById("custom-message-load").value;  
                        var customCss = document.getElementById("custom-css-load").value;  
                        showNotification(customCss, '', 'bottom', 'center', '', '', customMessage);
                    }, false);
                </script>
            </div>
        {% endif %}
        <!-- Notification message End -->

        <div class="container-fluid">
            <!-- Striped Rows -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>Products</h2>
                            <ul class="header-dropdown m-r--5">
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="/add_product" class="btn btn-block btn-lg btn-default waves-effect">
                                                New Product
                                             </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Created at</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in all_products %}
                                        <tr>
                                            <th scope="row">{{ product.code }}</th>
                                            <td>{{ product.name }}</td>
                                            <td>{{ product.quantity }}</td>
                                            <td> {{ product.price }}</td>
                                            <td>{{ product.created_at.strftime('%Y-%m-%d') }}</td>
                                            <td>
                                                <div class="js-sweetalert">
                                                    <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> -->
                                                    <a class="btn btn-primary waves-effect" href="/edit_product/{{ product.id }}">Edit</a> 
                                                    <button class="btn btn-danger waves-effect" data-type="confirm" value="{{ product.id }}">Delete</button>
                                                    <!-- </div> -->
                                                </div>
                                                <!-- <a href="/delete_product/{{ product.id }}">Delete</a> -->
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Striped Rows -->
        </div>
    </section>

    

{% endblock %}

{% block js %}
    {% include './includes/main-js.html' %}
{% endblock%}